html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
:root {
    --primary-bkgd-color:#FFFFFF;
    --secondary-bkgd-color:#2F303A;
    --team-bkgd-color:#F5F4FA;

    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --accent-text-color: #2196F3;
    --logo-text-color: #000000;

    --contacts-footer-color: rgba(255, 255, 255, 0.6);
    --portfolio-bkgd-color: #EEEEEE;
    --header-line-color:#ECECEC;
}
/* GLOBAL BODY */
body {
    background-color:var(--primary-bkgd-color);
    color: var(--primary-text-color);

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
/* Utilites */
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    outline: 1px solid tomato;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-text-color);
}
.contact-nav .link:hover,
.contact-nav .link:focus {
    color: var(--accent-text-color);
}
.site-nav .link.current {
    color: var(--accent-text-color);
}
.link,
.card {
    text-decoration: none;
}
.footer-link:hover,
.footer-link:focus {
    color: var(--primary-bkgd-color);
}
img {
    display: block;
}
/* HEADER */
.page-header {
    background-color: var(--primary-bkgd-color);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--header-line-color);
}
/* main-nav */
.main-nav {
    display: flex;
    align-items: center;
    /* background-color:aqua; */
}
.nav-section {
    display: flex;
    align-items: center;
}
/* logo */
.logo {
    outline: 1px solid tomato;
    color: var(--accent-text-color);

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.studio-header {
    color: var(--logo-text-color);
}
/* site-nav */
.site-nav,
.contact-nav{
    display: flex;
}
.site-nav .item,
.contact-nav .item {
    outline: 1px solid tomato;
}
.site-nav .item:not(:last-child) {
    margin-right: 50px;
}
.site-nav .link,
.contact-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.site-nav {
    margin-left: 93px;
}
/* contact-nav */
.contact-nav .contacts {
    color: var(--primary-text-color);
}
.contact-nav .item + .item {
    margin-left: 50px;
}
.contact-nav {
    margin-left: auto;
}
/* HERO */
.hero {
    background-color: var(--secondary-bkgd-color);
    text-align: center;
}
.hero-title {
    outline: 2px solid tomato;
    margin-top: 0px;
    margin-bottom: 30px;

    color: var(--primary-bkgd-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.button {
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 216px;
    height: 50px;

    background-color: var(--accent-text-color);
    color: var(--primary-bkgd-color);

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    align-items: center;
    letter-spacing: 0.06em;
    cursor: pointer;
}
/* OUR FEATURES */
.features {
    background-color: rgb(71, 255, 157);
    padding-top: 94px;
    padding-bottom: 98px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.feature-list {
    display:flex;
}
.feature-list .item {
    width: 270px;
    outline: 2px solid aqua;
}
.features .title {
    margin-top: 0;
    margin-bottom: 10px;

    color: var(--secondary-text-color);

    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}
.features .text {
    margin-top: 0;
    margin-bottom: 0;
}
/* WHAT WE ARE DOING (work)*/
.work {
    background-color: rgba(255, 217, 0, 0.603);
}
.work-list {
    display: flex;
}
.work-list .item {
    outline: 1px solid tomato;
}
.work-list .item:not(:last-child) {
    margin-right: 30px;
}
.work-title,
.team-title {
    color: var(--secondary-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
}
.work-title {
    margin-top: 0;
    margin-bottom: 46px;
}

/* OUR TEAM */
.team {
    /* background-color: var(--team-bkgd-color); */
    background-color:yellowgreen;
    padding-top: 94px;
    padding-bottom: 94px;
}
.team-list {
    display: flex;
}
.team-list .item {
    outline: 1px solid tomato;
}
.team-list .item:not(:last-child) {
    margin-right: 30px;
}
.team-title {
    margin-top: 0;
    margin-bottom: 50px;
}
.team .title {
    outline: 1px solid tomato;

    color: var(--secondary-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
}
.team .card-title {
    margin: 30px 70px 10px 71px;
}
.team .text {
    outline: 1px solid tomato;
    margin-top: 0;
    margin-bottom: 0;

    color: var(--primary-text-color);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
}
.team .card-text {
    margin: 0px 70px 30px;
}
/* FOOTER */
.page-footer {
    background-color: var(--secondary-bkgd-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer {
    /* margin-left: 215px; */
    outline: 2px solid tomato;
}
.studio-footer {
    color: var(--primary-bkgd-color);
}
address {
font-style: normal;
background-color: darkkhaki;
margin-top: 20px;
}
.email-footer,
.tel-footer,
.address-footer {
    color: var(--contacts-footer-color);
    font-size: 14px;
    text-decoration: none;   
}
.address-footer {
    margin-top: 20px;
    margin-bottom: 9px;
}
.email-footer {
    margin-bottom: 9px;
}

/* PORTFOLIO PAGE */

/* buttons */
.button-list {
    display: flex;
    justify-content: center;
    margin-top: 94px;
}
.button-list .item:not(:last-child) {
    margin-right: 8px;
}
.portfolio .button {
    border:0;
    border-radius: 4px;
    padding: 6px 22px;
    min-width: 73px;
    height: 48px;

    background-color: var(--team-bkgd-color);

    font-family: inherit;
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
}
.portfolio .button:hover,
.portfolio .button:focus {
    background-color: var(--accent-text-color);
    color: var(--primary-bkgd-color);
}
/* cards */
.card-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 94px;
    margin-bottom: 94px;
}
/* .cards {
    background-color: aquamarine;
} */
.card-list .item {
    /* outline: 1px solid tomato; */
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.card-list .item:nth-child(3n) {
    margin-right: 0px;
}
.card-list .item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
}
.card .title {
    outline: 1px solid tomato;
    margin-top: 20px;
    margin-bottom: 4px;
    margin-left: 24px;

    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.card .text {
    outline: 1px solid tomato;
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 24px;

    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
}