html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
:root {
    --primary-bkgd-color:#FFFFFF;
    --secondary-bkgd-color:#2F303A;
    --team-bkgd-color:#F5F4FA;

    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --accent-text-color: #2196F3;
    --logo-text-color: #000000;

    --contacts-footer-color: rgba(255, 255, 255, 0.6);
    --portfolio-bkgd-color: #EEEEEE;
}
/* GLOBAL BODY */
body {
    background-color:var(--primary-bkgd-color);
    color: var(--primary-text-color);

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.link:hover,
.link:focus {
    color: var(--accent-text-color);
}
.link {
    text-decoration: none;
}
.header-link.current {
    color: var(--accent-text-color);
}
.card {
    text-decoration: none;
}
.footer-link:hover,
.footer-link:focus {
    color: var(--primary-bkgd-color);
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    /* padding-left: 20px;
    padding-right: 20px; */
    outline:2px solid tomato;
}
/* HEADER */
.page-header {
    background-color: whitesmoke;
}
.logo {
    color: var(--accent-text-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.studio-header{
    color: var(--logo-text-color);
}
.header-link,
.header-contacts {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.header-contacts {
    color: var(--primary-text-color);
}
/* HERO */
.hero {
    background-color: var(--secondary-bkgd-color);
    text-align: center;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--primary-bkgd-color);
    outline: 2px solid tomato;
    margin-top: 0px;
    margin-bottom: 30px;
}
.button {
    font-family: inherit;
    background-color: var(--accent-text-color);
    color: var(--primary-bkgd-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    align-items: center;
    letter-spacing: 0.06em;
    cursor: pointer;

    border-radius: 4px;
    padding:10px 32px;
    min-width: 216px;
    height: 50px;
}
/* OUR FEATURES */
.features {
    background-color: rgb(71, 255, 157);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.features .title {
    color: var(--secondary-text-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;

    margin-top: 0;
    margin-bottom: 10px;
}
.features .text {
    margin-top: 0;
    margin-bottom: 0;
}
/* WHAT WE ARE DOING (work)*/
.work {
    background-color: rgba(255, 217, 0, 0.603);
}
.work-title,
.team-title {
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
}
.work-title {
    margin-top: 0;
    margin-bottom: 46px
}

/* OUR TEAM */
.team {
    /* background-color: var(--team-bkgd-color); */
    background-color:yellowgreen;
    padding-top: 94px;
    padding-bottom: 94px;
}
.team-title {
    margin-top: 0;
    margin-bottom: 50px;
}
.team .title {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;

    margin-top: 30px;
    margin-bottom: 10px;
}
.team .text {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;

    margin-top: 0;
    margin-bottom: 0;
}
/* FOOTER */
.page-footer {
    background-color: var(--secondary-bkgd-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer {
    margin-left: 215px;
}
.studio-footer {
    color: var(--primary-bkgd-color);
}
address {
font-style: normal;
background-color: darkkhaki;
margin-top: 20px;
}
.email-footer,
.tel-footer,
.address-footer {
    color: var(--contacts-footer-color);
    font-size: 14px;
    text-decoration: none;   
}
.address-footer {
    margin-bottom: 9px;
}
.email-footer {
    margin-bottom: 9px;
}

/* PORTFOLIO PAGE */

/* buttons */
.portfolio .button {
    font-family: inherit;
    background-color: var(--team-bkgd-color);
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
}
.portfolio .button:hover,
.portfolio .button:focus {
    background-color: var(--accent-text-color);
    color: var(--primary-bkgd-color);
}
/* pictures section */
.card .title {
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.card .text {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
}